site_name: MPB Documentation
site_author: MPB Developers
repo_url: https://github.com/NanoComp/mpb/
edit_uri: edit/master/doc/docs

use_directory_urls: True

docs_dir: 'doc/docs'
site_dir: 'doc/site'

theme:
  name: readthedocs

markdown_extensions:
    - wikilinks
    - toc:
        title: Table of Contents
    - attr_list
    - fenced_code
    - mdx_math:
        enable_dollar_delimiter: True

extra_javascript:
 - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML'
 - 'js/mathjaxhelper.js'
 - 'js/extra.js'

pages:
- Manual: 'index.md'
- Introduction: 'Introduction.md'
- Download: 'Download.md'
- Installation: 'Installation.md'
- Developer Information: 'Developer_Information.md'
- Acknowledgements: 'Acknowledgements.md'
- License and Copyright: 'License_and_Copyright.md'
- Python Interface:
   - User Interface: 'Python_User_Interface.md'
   - Tutorial: 'Python_Tutorial.md'
   - Data Analysis: 'Python_Data_Analysis_Tutorial.md'
- Scheme Interface:
   - User Interface: 'Scheme_User_Interface.md'
   - Tutorial: 'Scheme_Tutorial.md'
   - Data Analysis: 'Data_Analysis_Tutorial.md'
   - Guile and Scheme Information: 'Guile_and_Scheme_Information.md'
